<!DOCTYPE html>
<html>
<head>
    <title>Add User</title>
</head>
<body>
    <h2>Add New User</h2>

    <form action="/user" method="POST">
        <input type="text" name="username" placeholder="Username" required /><br><br>
        <input type="email" name="email" placeholder="Email" required /><br><br>
        <input type="password" name="password" placeholder="Password" required /><br><br>

        <button>Add User</button>
    </form>

    <br>
    <a href="/user">Back</a>
</body>
</html>
